.wrap{
	overflow: hidden;
	
	.table{		

		tr{

			td{
				padding: 10px 10px 10px 0;

				&.head{
					font-weight: bold;

					&.overdue{
						color: red;
					}
				}

				&.body{

				}
			}
		}
	}

	.btn-back{
		float: right;
	}
}