<div class="wrap">
	<form class="login-form">
	  <mat-form-field class="line">
	    <input matInput placeholder="Логин" id="login" [(ngModel)]="login" name="login">
	  </mat-form-field>

	  <mat-form-field class="line">
	    <input matInput placeholder="Пароль" id="password" [(ngModel)]="password" name="password" type="password">
	  </mat-form-field>  

	  <button class="btn btn-common" type="button" mat-button (click)="checkAuth()">
	    <div class="label">Авторизоваться</div>
	  </button>  
	</form>
</div>
